*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: gold;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-body h5 {
  min-height: 4rem;
}

.brand {
  color: grey;
}

.price {
  color: red;
  font-weight: 600;
}

footer {
  color: white;
  background-color: black;
}

.card-body span {
  display: inline-block;
  margin-right: 5px;
}